DB_HOST=localhost
DB_PORT=5432
DB_USER=your_username
DB_PASSWORD=your_password
DB_NAME=jewelry_db

API_URL=http://localhost:5000/api

JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=1d

CLOUDINARY_URL=your_cloudinary_url

NODE_ENV=development